/* body */
body {
background-color: #DEF0FB;

border: 1px solid #000;
font-family: Helvetica, sans-serif;
font-size: 10.5pt;
}

/* Global */
a {
text-decoration: none;
color: #156597;
}
a:hover {
text-decoration: underline;
}
a:visited {
color: purple;
}



/* Clear div */
.clear_both {
clear: both;
}

/* Header & Footer */
.header {
position: relative;
width: 100%;
height: 105px;
height: 8em;
background-color: #FFF;
background-image: url("simlogo.png");
background-repeat: no-repeat;
background-position: bottom left;
background-position: 10px 100%;
padding: 0px;
margin: 0px;
}
.header h1 {
margin: 0;
padding: 0;
padding-left: 260px;
padding-top: 0.6em;
}


.footer {
background-color: #FFF;
text-align: center;
border-top: 1px solid #000;
padding: 0.3em;
}



.lang_select {
    background-color: #2599E5;
    color: #FFF;
    padding: 0.3em;
    border-top: 1px solid #000;
    font-size: 8pt;
    text-align: right;
}
.lang_select a {
    color: #FFF;
    text-decoration: underline;
}
.lang_select a:hover {
    background-color: #FFF;
    color: #2599E5;
    text-decoration: none;
}


/* Main navigation */
.main_nav {
background-color: #FFF;
position: absolute;
padding: 0;
margin: 0;
left: 265px;
bottom: 0;
padding: 0.2em 0 0.2em 0;
border-left: 1px solid #000;
border-right: 1px solid #000;
border-top: 1px solid #000;
}

.main_nav ul {
background-color: #FFF;
display: block;
padding: 0;
margin: 0;
border: 0;

}
.main_nav li {
background-color: #FFF;
display: inline;
padding: 0;
margin: 0;
border: 0;
}

.main_nav a {
    padding: 0;
    margin: 0;
    border: 0;
    padding: 0.2em 0.8em 0.2em 0.8em;
    background-color: #DEF0FB;
    text-decoration: none;
    color: #000;
}
.main_nav a:hover {
    background-color: #B8DEF7;
    color: #000;
}
.main_nav a: {

}


/* Styles for the server management form */
table {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    background-color: #FFF;
    width: 100%;
}
table.main {
    border-top: 1px solid #000;
}
.manageform table {
    border: 1px solid #000;
}
.manageform {
    background-color: #FFF;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
}


/* Styles for the server add form */
.addform {
    background-color: #FFF;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.addform table {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #000;
}
.addform p {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.addform td {
}


/* Styles for the server selection form */
.selectform {
    background-color: #FFF;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.selectform table {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #000;
}
.selectform p {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.selectform td {
    padding: 1em;
}

/* width 100% for input controls */
.bb {
    width: 100%;
    box-sizing: border-box; /* css3 rec */
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */
}

td.footnote {
    font-size: smaller;
}

th {
    padding: 0.2em 0 0.2em 0;
    border-spacing: 0;
    margin: 0;
    background-color: #2599E5;
    background-color: #92CCF2;
    border-bottom: 1px solid #000;
}
th.pakset_name {
    text-align: left;
}

td {
    background-color: none;
    background-color: transparent;
    padding: 0.2em 0.4em 0.2em 0.4em;
}
td.status_0 {
    background-color: #FF5E5E;
}
td.status_1 {
    background-color: #56E356;
}
tr.listing_upper td {
    padding-top: 0.5em;
}
tr.listing_lower td {
}
tr.end_listing td {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #000;
}

tr.end_listing td table td {
    padding-bottom: 0.2em;
    border-bottom: 0;
}

td input.submit {
    text-align: right;
}

table.playerinfo {
    border: 1px solid #000;
}
table.mapinfo {
    border: 1px solid #000;
}
table.otherinfo {
    border: 1px solid #000;
}

p.iddisplay {
    font-size: larger;
    font-weight: bold;
    font-family: monospace;
    padding-left: 1em;
}


.r_a, .r_0, .r_2, .r_4, .r_6, .r_8, .r_10, .r_12, .r_14, .r_16 {
background-color: #FAFDFE;
}
.r_b, .r_1, .r_3, .r_5, .r_7, .r_9, .r_11, .r_13, .r_15 {
background-color: #EAF5FC;
}

/* Player 255 is the server for admin messages */
.p_255 {
color: #778899;
color: #000;
}

.p_255 .mess {
text-align: right;
}
/* Player 0 is human (spectator) */
.p_0 {
color: rgb(76 113 145);
}
/* Player 1 is public service */
.p_1 {
color: rgb(125, 125, 125);
}
.p_2 {
color: rgb(37, 86, 167);
}
.p_3 {
color: rgb(161, 134, 5);
}
.p_4 {
color: rgb(134, 48, 18);
}
.p_5 {
color: rgb(53, 101, 18);
}
.p_6 {
color: rgb(0, 130, 118);
}
.p_7 {
color: rgb(116, 37, 156);
}
.p_8 {
color: rgb(107, 69, 0);
}
.p_9 {
color: rgb(135, 28, 92);
}
.p_10 {
color: rgb(68, 99, 45);
}
.p_11 {
color: rgb(110, 69, 58);
}
.p_12 {
color: rgb(20, 33, 139);
}
.p_13 {
color: rgb(93, 70, 110);
}
.p_14 {
color: rgb(117, 58, 42);
}
.p_15 {
color: rgb(54, 120, 81);
}
.p_16 {
color: rgb(128, 0, 0);
}

