/* body */
body {
background-color: #DEF0FB;

border: 1px solid #000;
font-family: Helvetica, sans-serif;
font-size: 10.5pt;
}

/* Global */
a {
text-decoration: none;
color: #156597;
}
a:hover {
text-decoration: underline;
}
a:visited {
color: purple;
}



/* Clear div */
.clear_both {
clear: both;
}

/* Header & Footer */
.header {
position: relative;
width: 100%;
height: 105px;
height: 8em;
background-color: #FFF;
background-repeat: no-repeat;
background-position: bottom left;
background-position: 10px 100%;
padding: 0px;
margin: 0px;
}
.header h1 {
margin: 0;
padding: 0;
padding-left: 260px;
padding-top: 0.6em;
}


.footer {
background-color: #FFF;
text-align: center;
border-top: 1px solid #000;
padding: 0.3em;
}



.lang_select {
    background-color: #2599E5;
    color: #FFF;
    padding: 0.3em;
    border-top: 1px solid #000;
    font-size: 8pt;
    text-align: right;
}
.lang_select a {
    color: #FFF;
    text-decoration: underline;
}
.lang_select a:hover {
    background-color: #FFF;
    color: #2599E5;
    text-decoration: none;
}


/* Main navigation */
.main_nav {
background-color: #FFF;
position: absolute;
padding: 0;
margin: 0;
left: 265px;
bottom: 0;
padding: 0.2em 0 0.2em 0;
border-left: 1px solid #000;
border-right: 1px solid #000;
border-top: 1px solid #000;
}

.main_nav ul {
background-color: #FFF;
display: block;
padding: 0;
margin: 0;
border: 0;

}
.main_nav li {
background-color: #FFF;
display: inline;
padding: 0;
margin: 0;
border: 0;
}

.main_nav a {
    padding: 0;
    margin: 0;
    border: 0;
    padding: 0.2em 0.8em 0.2em 0.8em;
    background-color: #DEF0FB;
    text-decoration: none;
    color: #000;
}
.main_nav a:hover {
    background-color: #B8DEF7;
    color: #000;
}
.main_nav a: {

}


/* Styles for the server management form */
table {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    background-color: #FFF;
    width: 100%;
}
table.main {
    border-top: 1px solid #000;
}

/* Styles for the server selection form */
.selectform {
    background-color: #FFF;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.selectform table {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #000;
}
.selectform p {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.selectform td {
    padding: 1em;
}

/* width 100% for input controls */
.bb {
    width: 100%;
    box-sizing: border-box; /* css3 rec */
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */
}

td.footnote {
    font-size: smaller;
}

th {
    padding: 0.2em 0 0.2em 0;
    border-spacing: 0;
    margin: 0;
    background-color: #2599E5;
    background-color: #92CCF2;
    border-bottom: 1px solid #000;
}
th.pakset_name {
    text-align: left;
}

td {
    background-color: none;
    background-color: transparent;
    padding: 0.2em 0.4em 0.2em 0.4em;
}
td.status_0 {
    background-color: #FF5E5E;
}
td.status_1 {
    background-color: #56E356;
}
tr.listing_upper td {
    padding-top: 0.5em;
}
tr.listing_lower td {
}
tr.end_listing td {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #000;
}

tr.end_listing td table td {
    padding-bottom: 0.2em;
    border-bottom: 0;
}

td input.submit {
    text-align: right;
}

table.playerinfo {
    border: 1px solid #000;
}
table.mapinfo {
    border: 1px solid #000;
}
table.otherinfo {
    border: 1px solid #000;
}

p.iddisplay {
    font-size: larger;
    font-weight: bold;
    font-family: monospace;
    padding-left: 1em;
}


div.paksets {
    padding: 0.2em 0 0.2em 0;
    margin: 0;
    background-color: #FFF;
    border-bottom: 1px solid #000;
}
div.paksets ul {
}
div.paksets li {
    display: inline;
}

div.pakset {
    margin: 0;
    padding: 0;
    background-color: #92CCF2;
}

div.pakset h2 {
    margin: 0;
    padding: 0.2em 0 0.2em 0;
    border-bottom: 1px solid #000;
}

/* Red/green background + padding gives the online/offline stripe on the left */
div.st_0 {
    background-color: #F00;
}
div.st_1 {
    background-color: #0F0;
}
div.pakset div {
    padding-left: 16px;
    border-bottom: 1px solid #000;
}
div.pakset div a {
}
div.pakset div img {
    padding: 8px;
    float: left;
}
div.pakset div div {
    background-color: #FFF;
    padding: 8px;
    padding-left: 80px;
    border-bottom: none;
}
div.pakset div div h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
}
div.pakset div div p {
    margin: 0;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

