<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>servers.simutrans.org</title>
</head>
<body>
<p>This page can only be POSTed to, usually by Simutrans game servers. Are you looking for: <a href="./list">the server listing</a>?</p>


<form name="announce" action="./announce" method="post">

Interval: <input type="text" name="aiv" value="30" /><br /><br />

name <input type="text" name="name" value="My testing server" /><br />
dns <input type="text" name="dns" value="127.0.0.1" /><br />
port <input type="text" name="port" value="12345" /><br />
email <input type="text" name="email" value="test@test.example" /><br />
rev <input type="text" name="rev" value="4359" /><br />
ver <input type="text" name="ver" value="Simutrans Nightly 110.0.1 (r4399) built 19/12/1999" /><br />
pakset <input type="text" name="pak" value="pak.test 100.0 r4355" /><br />
pakurl <input type="text" name="pakurl" value="http://pak.url.test" /><br />
infurl <input type="text" name="infurl" value="http://info.url.test" /><br />
comments <input type="text" name="comments" value="Test comments... 123" /><br />
status <input type="radio" name="st" value="1" /> Online <input type="radio" name="st" value="0" /> Offline<br />
lang: <input type="text" name="lang" value="en" /><br />

start: <input type="text" name="start" value="1,1911" /><br />
time: <input type="text" name="time" value="5,2013" /><br />
size: <input type="text" name="size" value="1024,512" /><br />

players: <input type="text" name="players" value="0,1,1;1,0,1;2,1,0;3,0,0;4,1,1;5,0,0;6,0,0;7,0,0;8,0,0;9,0,0;10,0,0;11,0,0;12,0,0;13,0,0;14,0,0;15,0,0;" /><br />

active: <input type="text" name="active" value="6" /><br />
locked: <input type="text" name="locked" value="4" /><br />
clients: <input type="text" name="clients" value="3" /><br />

towns: <input type="text" name="towns" value="34" /><br />
citizens: <input type="text" name="citizens" value="123222" /><br />
factories: <input type="text" name="factories" value="345" /><br />
convoys: <input type="text" name="convoys" value="97" /><br />
stops: <input type="text" name="stops" value="537" /><br />

<input type="submit" value="Submit" />

</form>


</body>
</html>
