<div class="paksets">
    <ul>
{{#paksets}}
        <li><a href="./list?lang={{lang}}#{{name}}">{{name}}</a></li>
{{/paksets}}
    </ul>


{{#paksets}}
    <div class="pakset">
        <a name="{{name}}"></a>
        <h2 class="pakset_name">{{name}}</h2>
{{#items}}
{{#data}}
        <div class="st_{{st}}">
            <a name="{{dns}}:{{port}}"></a>
            <a href="map_graphic_big.png"><img src="static/demomap.png" width="64" height="64" /></a>
            <div> <!-- Floated to right of image -->
                <h3>{{#name}}{{name}}{{/name}}{{^name}}{{#translate}}default_name{{/translate}}{{/name}}&nbsp;({{#translate}}status_{{st}}{{/translate}})</h3>
                <p>{{#translate}}list_time_1{{/translate}}{{#size}}{{#x}}{{x}}x{{y}}{{/x}}{{^x}}{{#translate}}size_unknown{{/translate}}{{/x}}{{/size}}{{#translate}}list_time_2{{/translate}}{{#time}}{{#mn}}{{#translate}}month_{{mn}}{{/translate}}&nbsp;{{yr}}{{/mn}}{{^mn}}{{#translate}}time_unknown{{/translate}}{{/mn}}{{/time}}&nbsp;{{#translate}}list_time_3{{/translate}}{{#start}}{{#mn}}{{#translate}}month_{{mn}}{{/translate}}&nbsp;{{yr}}{{/mn}}{{^mn}}{{#translate}}start_unknown{{/translate}}{{/mn}}{{/start}}{{#translate}}list_time_4{{/translate}}</p>
                <p>{{#translate}}list_players_1{{/translate}}{{active}}{{#translate}}list_players_2{{/translate}}{{locked}}{{#translate}}list_players_3{{/translate}}{{clients}}{{#translate}}list_players_4{{/translate}}</p>
{{/data}}
{{^detail}}
{{#data}}
                <p><a href="./list?lang={{lang}}&detail={{dns}}:{{port}}#{{dns}}:{{port}}">{{#translate}}show_server_detail{{/translate}}</a></p>
            </div>
        </div>
{{/data}}
{{/detail}}
{{#detail}}
{{#data}}
                <p><a href="./list?lang={{lang}}#{{dns}}:{{port}}">{{#translate}}hide_server_detail{{/translate}}</a></p>
                <p>{{#translate}}list_map_1{{/translate}}{{towns}}{{#translate}}list_map_2{{/translate}}{{citizens}}{{#translate}}list_map_3{{/translate}}{{factories}}{{#translate}}list_map_4{{/translate}}{{convoys}}{{#translate}}list_map_5{{/translate}}{{stops}}{{#translate}}list_map_6{{/translate}}</p>
                <p>{{#translate}}list_pakset{{/translate}}{{pak}}</p>
                <p>{{#translate}}list_ver{{/translate}}{{ver}}</p>
{{/data}}
{{#timing}}
                <p>
                    {{#translate}}list_announce_1{{/translate}}
                    {{#timeformat}}{{last}}{{/timeformat}}
                    {{#translate}}list_announce_2{{/translate}}
                    {{#next}}
                        {{#translate}}list_announce_3{{/translate}}
                        {{#timeformat}}{{next}}{{/timeformat}}
                    {{/next}}
                    {{#odue}}
                        {{#translate}}list_announce_4{{/translate}}
                        {{#timeformat}}{{odue}}{{/timeformat}}
                    {{/odue}}
                    {{#translate}}list_announce_5{{/translate}}</p>
{{/timing}}
{{#data}}
                <p>{{#translate}}list_email{{/translate}}{{#email}}<a href="mailto:{{email}}">{{email}}</a>{{/email}}{{^email}}{{#translate}}list_notset{{/translate}}{{/email}}</p>
                <p>{{#translate}}list_pakurl{{/translate}}{{#pakurl}}<a href="{{pakurl}}">Download pakset</a>{{/pakurl}}{{^pakurl}}{{#translate}}list_notset{{/translate}}{{/pakurl}}</p>
                <p>{{#translate}}list_infurl{{/translate}}{{#infurl}}<a href="{{infurl}}">Server information</a>{{/infurl}}{{^infurl}}{{#translate}}list_notset{{/translate}}{{/infurl}}</p>
                <p>{{#translate}}list_comments{{/translate}}</p>
                <p>{{#comments}}{{comments}}{{/comments}}{{^comments}}{{#translate}}list_notset{{/translate}}{{/comments}}</p>
                <p>{{#translate}}list_dnsport{{/translate}}{{dns}}:{{port}}</p>
            </div>
        </div>
{{/data}}
{{/detail}}
{{/items}}
    </div>
{{/paksets}}
</div>
